* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
}

.div-result {
  display: flex;
  margin-left: calc((100% - 560px) / 2);
  background-color: #868094;
  height: 100px;
  width: 560px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

#result {
  display: flex;
  width: 700px;
  justify-content: flex-end;
  padding-top: 50px;
  font-size: 32px;
}

.button-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.square {
  width: 140px;
  height: 100px;
  background-color: #DFDFDF;
  text-align: center;
  font-size: 24px;
}

.square:last-child {
  background-color: #EF9800;
}

#btn_0 {
  width: 280px;
  height: 100px;
}

.quote > h3 {
  line-height: 16px;
  margin: 200px 50px 50px 50px;
}

.navigation {
  margin: 50px;
  display: flex;
}

.navigation > h1 {
  width: 50%;
}

.navigation > ul {
  width: 50%;
  text-align: end;
}

.home-title, .home-content {
  margin: 50px;
}

#nav-id > li {
  display: inline;
  margin: 20px 10px 10px 10px;
}
